#button {
  position: relative;
  min-height: 120px;
  height: auto;
}

/* #button ion-button {
  position: absolute;
  right: 45%;
  top: 50%;
} */

#button ion-fab {
  position: absolute;
  right: 45%;
  top: 50%;
}