:host {
  display: block;
}

#height-us-measurements {
  display: inline-flex;
}


/* POSITION of the edit and checkmark button */
.gender-edit-button{
  top: -20px
}

.gender-checkmark-button{
  top: -6px
}


@media only screen and (max-width: 374px) {
  .gender-edit-button{
    top: -12px
  }
  
  .gender-checkmark-button{
    top: 2px
  }
}
